<div class="flex flex-col gap-4">
  <label>Nom:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Prénom:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Job:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Image:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Citation Favorite:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Mots clé de votre travail:</label>
  <input type="text" class="shadow-md p-3" />

  <label>Decrivez nous votre travail</label>
  <input type="text" class="shadow-md p-3" />

  <label>Couleur du carte</label>
  <input type="color" class="shadow-md w-full" />
</div>
