<div class="relative w-fit">
  <div
    class="relative z-10 w-[100vw] max-w-[300px] shadow-md rounded-lg bg-white overflow-hidden cursor-pointer transition-all hover:-translate-y-1 hover:shadow-xl"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <div
      class="relative h-[145px] w-full flex flex-col justify-end items-center"
    >
      <div
        class="absolute top-0 left-0 h-[100px] w-full"
        [style]="'background-color:' + carte!.couleur"
      ></div>
      <div
        class="relative rounded-full w-24 h-24 bg-white shadow overflow-hidden"
      >
        <img
          [src]="'assets/' + (carte!.image | defaultImage)"
          class="contain w-full h-full shadow-lg"
        />
      </div>
    </div>
    <div class="p-10 text-center">
      <h1 class="text-2xl font-bold">{{ carte!.nom }} {{ carte!.prenom }}</h1>
      <h3 class="text-lg text-gray-500">{{ carte!.job }}</h3>
      <p class="text-sm mt-10">
        {{ carte!.citation }}
      </p>
    </div>
  </div>
  <div
    class=""
    [ngClass]="{
      'absolute bottom-0 left-0 w-full shadow-md p-5 h-full rounded-lg transition-all': true,
      'translate-x-full ml-5': hovered
    }"
    [style]="'background-color:' + carte!.couleur"
  >
    <p class="text-sm text-white font-normal text-center border-b pb-4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit
    </p>
    <h2 class="text-xl font-bold text-white text-center mt-10">
      {{ carte!.description }}
    </h2>
    <h3 class="text-sm text-white font-thin text-center mt-4">
      {{ carte!.keys }}
    </h3>
    <div class="grid grid-cols-3 text-white">
      <div class="flex flex-col justify-center items-center border-r mt-5">
        <h3 class="font-bold text-lg">325</h3>
        <p class="text-xs">Followers</p>
      </div>
      <div class="flex flex-col justify-center items-center border-r mt-5">
        <h3 class="font-bold text-lg">114</h3>
        <p class="text-xs">Followering</p>
      </div>
      <div class="flex flex-col justify-center items-center mt-5">
        <h3 class="font-bold text-lg">35</h3>
        <p class="text-xs">Projects</p>
      </div>
      <div
        class="absolute bottom-0 left-0 w-full p-5 border-t flex flex-row justify-center gap-8"
      >
        <div class="w-5 h-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              fill="white"
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
            />
          </svg>
        </div>
        <div class="w-5 h-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              fill="white"
              d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"
            />
          </svg>
        </div>
        <div class="w-5 h-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              fill="white"
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
