<div class="flex-2 flex flex-col gap-5">
  <div
    *ngFor="let carte of cartes; let i = index"
    [ngClass]="{
      'w-fit h-fit shadow-md rounded p-5 flex flex-row justify-start gap-5 items-center cursor-pointer bg-white max-w-[300px] transition-all hover:shadow-xl': true,
      '!shadow-blue-200': i === select
    }"
    (click)="onSelect(i)"
  >
    <div
      class="relative rounded-full w-10 h-10 bg-white shadow overflow-hidden"
    >
      <img
        [src]="'assets/' + carte.image"
        class="contain w-full h-full shadow-lg"
      />
    </div>
    <p>{{ carte.nom }} {{ carte.prenom }}</p>
  </div>
</div>
